<div class="container">
  <div class="row">
    <h3>WORK EXPERIENCE</h3>
    <div class="col-md">
      <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
        <div class="card-body">
          <h5 class="card-title">Full Stack Web Developer</h5>
          <p class="card-text">
            <strong>ThinkWide-PGO</strong><br>
            02/2023 - Present, Hyderabad<br><br>

            - 1+ years experince on ruby on rails, developed and implemented user-friendly, responsive web applications using HTML, CSS, and JavaScript while following Ruby on Rails framework convention.<br><br>

            - Collaborated with the design team to create visually appealing and intuitive user interfaces, ensuring seamless user experiences within the Ruby on Rails environment.<br><br>

            - Conducted thorough testing and debugging across multiple browsers and devices to ensure cross-platform compatibility, consistent functionality, and a smooth experience with Ruby on Rails.<br><br>

            - Implemented Redis for creating background jobs, placing those jobs on multiple queues, and processing them later.<br><br>

            - Maintained and updated existing web applications, addressing bugs, implementing enhancements, and improving overall code quality within the Ruby on Rails framework.<br><br>

            - Worked closely with back-end developers and stakeholders to seamlessly integrate front-end components with server-side logic, APIs, and databases within the Ruby on Rails context.<br><br>

            - Documented code, processes, and project updates meticulously to establish a comprehensive and accessible knowledge base for the team and future developers working with Ruby on Rails.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
