<div class="container">
  <div class="row">
    <h3>My Skills</h3>
      <div class="col-md-4">
        <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Ruby on Rails</h5>
                <%# proficiency = skill.proficiency.to_i %>
              </div>
              <div class="col-6">
                <h6 class="card-title">Proficiency(100%)</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Ruby on Rails</h5>
                <%# proficiency = skill.proficiency.to_i %>
              </div>
              <div class="col-6">
                <h6 class="card-title">Proficiency(100%)</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">React</h5>
                <%# proficiency = skill.proficiency.to_i %>
              </div>
              <div class="col-6">
                <h6 class="card-title">Proficiency(80%)</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">MySql</h5>
                <%# proficiency = skill.proficiency.to_i %>
              </div>
              <div class="col-6">
                <h6 class="card-title">Proficiency(80%)</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Git</h5>
                <%# proficiency = skill.proficiency.to_i %>
              </div>
              <div class="col-6">
                <h6 class="card-title">Proficiency(100%)</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">HTML</h5>
                <%# proficiency = skill.proficiency.to_i %>
              </div>
              <div class="col-6">
                <h6 class="card-title">Proficiency(100%)</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">CSS</h5>
                <%# proficiency = skill.proficiency.to_i %>
              </div>
              <div class="col-6">
                <h6 class="card-title">Proficiency(100%)</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Javascript</h5>
                <%# proficiency = skill.proficiency.to_i %>
              </div>
              <div class="col-6">
                <h6 class="card-title">Proficiency(90%)</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">AJAX</h5>
                <%# proficiency = skill.proficiency.to_i %>
              </div>
              <div class="col-6">
                <h6 class="card-title">Proficiency(90%)</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">API integration</h5>
                <%# proficiency = skill.proficiency.to_i %>
              </div>
              <div class="col-6">
                <h6 class="card-title">Proficiency(100%)</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color: #333; color: #fff; margin-bottom: 20px;">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">Postman</h5>
                <%# proficiency = skill.proficiency.to_i %>
              </div>
              <div class="col-6">
                <h6 class="card-title">Proficiency(100%)</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
